*, ::before, ::after {
  box-sizing: border-box;
  background-repeat: no-repeat;
}

* {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
}

:root {
  cursor: default;
  line-height: 1.15;
  word-break: break-word;
  font-size: 16px;
}

ol, ul {
  list-style: none;
  padding: 0;
}

a {
  color: #000;
  background-color: transparent;
  text-decoration: none;

  &:visited {
    color: #000;
  }
}

img {
  border-style: none;
}

iframe {
  border: none;
}


